
<div *ngIf="setting">
    <h2><span jhiTranslate="twentyOnePointsApp.setting.detail.title">Setting</span> {{setting.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="twentyOnePointsApp.setting.weeklyGoal">Weekly Goal</span></dt>
        <dd>
            <span>{{setting.weeklyGoal}}</span>
        </dd>
        <dt><span jhiTranslate="twentyOnePointsApp.setting.weightUnits">Weight Units</span></dt>
        <dd>
            <span>{{setting.weightUnits}}</span>
        </dd>
        <dt><span jhiTranslate="twentyOnePointsApp.setting.user">User</span></dt>
        <dd>
            {{setting.user?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'setting/'+ setting.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
